{% extends 'base.html' %}

{% block title %}Home-Page{% endblock %}

{% block content %} 
{% load static %}

<div class="user_name">
  {% if user.is_authenticated %}
    <h5 style="color: white;">Welcome {{request.user.username}}✨</h5>
  {% else %}
   
  {% endif %}
</div>

<div class="header">


  <h1>Your tasks</h1>

  <div class="icon">
    <a href="{% url 'create' %}">
      <img src="{% static 'icon/plus.png' %}" alt="Addtask" / width="50px">
    </a>
  </div>
</div>

<div class="main">
  {% for todo in todo reversed %}

  <div class="tasks mb-3">
    <div class="mt-3 tasks-content">
      <h4 class="task-title">{{todo.title}}</h4>
      <p class="task-text">{{ todo.description|truncatechars:50 }}</p>
      <p class="task-text">
        <strong>Completed:</strong>
        {% if todo.completed %}
        <img src="{% static 'icon/yes.png' %}" alt="yes" width="25px" />
        {% else %}
        <img src="{% static 'icon/decline.png' %}" alt="no" width="30px" />
        {% endif %}
      </p>
    </div>

    <div class="tasks-buttons">
      <div class="m-2">
        <a href="{% url 'detail' todo.pk %}" class="btn btn-primary" style="width: 70px;">View</a>
      </div>
      <div class="m-2">
        <a href="{% url 'delete' todo.pk %}" class="btn btn-danger" style="width: 70px;">Delete</a>
      </div>
    </div>
  </div>

  {% empty %}

  <div class="empty">
    <h3 style="color: white; opacity: 0.4; margin-bottom: 20px">
      No tasks yet.
    </h3>
    <button class="btn btn-primary">
      <a href="{% url 'create' %}" style="color: white; text-decoration: none"
        >Add Task</a
      >
    </button>
  </div>
  {% endfor %}
</div>

{% endblock %}
